<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Merchant Authentication Protocol</title>
</head>
<style>
  .bold{
    font-weight: bold;
  }
  body{
    margin: 0;
    padding: 15px;
  }
</style>
<body>
<h2><strong>HappyEx—HappyEx Fiat Currency Trading Platform</strong></h2>
<p class="p0">Please confirm that you have read all the contents of this Agreement in detail before starting the "Certified Merchant". Once the certification process is started, you fully understand and agree to accept the entire contents of this Agreement. In order to improve the security of transactions and the credibility of the registered users of the platform, HappyEx OTC provides you with certification services. When you apply for certification, this platform has the right to adopt various means it considers necessary to identify the identity of the user. However, the method that this platform can adopt is limited, and there are certain difficulties in identifying the user on the network. Therefore, the platform does not guarantee the accuracy and absolute authenticity of the identity of the user who completes the authentication.</p>
<p class="p4"><strong><em>Required Material:</em></strong></p>
<ul>
  <li>Mobile Phone</li>
  <li>Personal Assets</li>
  <li>Front page and back page of the ID card</li>
  <li>Photo taken by holding the ID card</li>
  <li>Have you ever experienced CTO?</li>
  <li>Have any risk control strategy?</li>
</ul>
<p class="p4"><strong><em>Authentication Process</em></strong></p>
<p class="p0">Special mark will be given to authenticated merchants, distinguishing from the uncertified business.</p>
<p class="p4"><strong><em>Termination of Authentication</em></strong></p>
<p class="p0">If merchants need to terminate the authentication, applications must be submitted to the platform. If there is no bad record of disputes in the merchant account, such as bad records that affect the security of the transaction, the platform will be reviewed and approved within 3 working days.</p>
<p class="p4"><strong><em>I. Understanding and recognition of authentication services</em></strong></p>
<p class="p0">1.1. Authentication services is an identification service provided by the Platform. Unless otherwise agreed in this Agreement, once you have completed the authentication on this platform account, the corresponding identity information and certification results will not be modified or cancelled for any reason; if your identity information has changed after the certification is completed, you should provide the certificate issued by the corresponding authority, and the platform helps you to change the corresponding authentication information of your account.</p>
<p class="p0">1.2. The Platform reserves the right to modify or change the content of this Agreement at any time and to announce the changed agreement text through this platform without separately notifying you. After any modification or modification of this Agreement, you will continue to use the services provided by this platform, that is, you have read, understood and agreed to accept the contents of the changed agreement; if you do not agree to the content of the changed agreement, you should immediately disable this Platform service.</p>
<p class="p4"><strong><em>II. The usage of Material</em></strong></p>
<p class="p0">2.1. Management of Material: The material that you submit to the platform at the time of authentication,will be retained by the platform. The Platform undertakes that it will not be disclosed, or edited except for statutory or agreed reasons, and will not use the non-public content stored on the Platform for commercial purposes, except in the following cases:</p>
<p class="p0">1) Relevant information authorized by you;</p>
<p class="p0">2) Provide to the national judicial and administrative authorities;</p>
<p class="p0">3) Provided to relevant firms of the platform;</p>
<p class="p0">4) When the third party and the platform provide services to the user, the third party provides relevant information (not including your bank account information) required for the service.</p>
<p class="p0">5) Based on the need to resolve your civil dispute with a third party, the Platform has the right to provide your identity information to the third party.</p>
<p class="p4"><strong><em>III. Links to third-party websites</em></strong></p>
<p class="p0">3.1. This platform may contain links to third-party websites (such as online banking websites) (hereinafter referred to as "linked websites"). “Linked Websites” are not controlled by the Platform. The Platform is not responsible for the content of any “Linked Websites”, including but not limited to any links contained in “Linked Websites” or any changes or updates to “Linked Websites”. This platform is not responsible for any network transmission or other forms of transmission received from the “Linked Website”.</p>
<p class="p4"><strong><em>IV. Not for illegal or prohibited use</em></strong></p>
<p class="p0">4.1. Acceptance of all instructions, terms and conditions of this Agreement is a prerequisite for your application for authentication. You declaim and guarantee that you may not apply for authentication for any purpose that is illegal or prohibited by this Agreement, conditions and notice. You may not use the Authentication Services in any manner that may damage, defame, overload, or damage the services of other websites or other websites or the Platform as well as interfere with the use of authentication applications. You may not obtain or attempt to obtain any information or data in any way other than as provided by the Platform .</p>
<p class="p4"><strong><em>V. Disclaimer</em></strong></p>
<p class="p0">The platform is not responsible for any of the following:</p>
<p class="p0">5.1. Your personal information is disclosed because you have told your account password to others or have not kept your password well or shared your account with others or any other faults that are not caused by the platform.</p>
<p class="p0">5.2. Any impact due to hacking, computer virus intrusion or seizures, technical adjustments in the telecommunications sector, temporary closures due to government controls, due to third-party reasons (including force majeure, such as the following situations caused by international export trunk lines and international export telecommunications: failures, fires, floods, lightning strikes, earthquakes, floods, typhoons, tornadoes, volcanic eruptions, plagues and epidemics, strikes, war or violence behaviors, or things alike) and information leaked, lost, stolen or being falsified, which is not caused by this platform.</p>
<p class="p0">5.3. Disclosure of bank account information caused by other websites linked to this platform (such as online banking, etc.) and any legal disputes and consequences resulting therefrom.</p>
<p class="p0">5.4. Any loss of the users caused by providing errors, incomplete or false information to the platform is irrelevant to the platform.</p>
<p class="p4"><strong><em>VI. Statement</em></strong></p>
<p class="p0">The platform is not responsible for any of the following:</p>
<p class="p0">6.1. The basic data review and margin requirements of the platform for certified merchants do not mean that the authenticated merchants are 100% credible, nor does it mean there is any guarantee relationship between the platform and the authenticated merchants. Users of this platform are required to strictly follow the process transactions, review the data carefully of the other parties, and communicate in detail to ensure their own transactions and asset security! At the same time, based on special features of digital asset trading, you need to pay special attention to the risk of anti-money laundering, and understand the identity of your counterparty in accordance with the requirements of the KYC principle, otherwise you may face the risk of asset freezing due to the suspected crime of the counterparty.</p>

</body>
</html>
