<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>认证商家协议</title>
</head>
<style>
  .bold{
    font-weight: bold;
  }
  body{
    margin: 0;
    padding: 15px;
  }
</style>
<body>
<h2><strong>happy交易所—happy法币交易区服务平台</strong></h2>
<p>请您确认，在开始“认证商家”前，您已详细阅读了本协议所有内容，一旦认证流程被开始，即表示您充分理解并同意接受本协议的全部内容。为了提高交易的安全性和本平台注册用户身份的可信度，happy交易所向您提供认证服务。您申请认证，本平台有权采取各种其认为必要手段对用户的身份进行识别。但是，本平台所能采取的方法有限，而且在网络上进行用户身份识别也存在一定的困难，因此，本平台对完成认证的用户身份的准确性和绝对真实性不做任何保证。</p>
<p class="bold">认证所需材料</p>
<ul>
  <li>手机</li>
  <li>个人资产</li>
  <li>身份证正反面照片</li>
  <li>手持身份证照片</li>
  <li>是否从事过数字资产的场外交易</li>
  <li>是否有相应的风控策略</li>
</ul>
<p>认证所需材料</p>
<p class="bold">认证流程</p>
<p> 提供给认证成功的商家专属的标识，与未认证商家进行区分；</p>
<p class="bold">认证解除</p>
<p>如认证商家需要解除认证，须向本平台提交申请。如认证商家账户中无仍处纠纷的不良记录等影响交易安全的行为，本平台将于3个工作日内审核通过。</p>
<p class="bold">一、 关于认证服务的理解与认同</p>
<p>1.1. 认证服务是由本平台提供的一项身份识别服务。除非本协议另有约定，一旦您在本平台账户完成了认证，相应的身份信息和认证结果将不因任何原因被修改或取消；如果您的身份信息在完成认证后发生了变更，您应向本平台提供相应有权部门出具的凭证，由本平台协助您变更您账户的对应认证信息。</p>
<p>1.2. 本平台有权单方随时修改或变更本协议内容，并通过本平台公告变更后的协议文本，无需单独通知您。本协议进行任何修改或变更后，您还继续使用本平台提供的服务，即代表您已阅读、了解并同意接受变更后的协议内容；您如果不同意变更后的协议内容，应立即停用本平台的服务。</p>
<p class="bold">二、 关于认证材料的使用</p>
<p>2.1. 认证资料的管理：您在认证时提交给本平台的认证资料，即不可撤销地授权由本平台保留。本平台承诺除法定或约定的事由外，不公开、编辑或透露您的认证资料，且不将保存在本平台的非公开内容用于商业目的，但以下情形除外：</p>
<p>(1) 您授权本平台透露的相关信息；</p>
<p>(2) 本平台向国家司法及行政机关提供；</p>
<p>(3) 本平台向本平台关联企业提供；</p>
<p>(4) 第三方和本平台一起为用户提供服务时，该第三方向您提供服务所需的相关信息（不包括您的银行账户信息）。</p>
<p>(5) 基于解决您与第三方民事纠纷的需要，本平台有权向该第三方提供您的身份信息。</p>
<p class="bold">三、第三方网站的链接</p>
<p>3.1. 为实现身份信息审查，本平台上可能包含指向第三方网站（如网上银行网站）的链接（以下简称“链接网站”）。
  “链接网站”非由本平台控制，对于任何“链接网站”的内容，包含但不限于“链接网站”内含的任何链接，或“链接网站”的任何改变或更新，本平台均不予负责。自“链接网站”接收的网络传播或其它形式之传送，本平台不予负责。</p>
<p>四、不得为非法或禁止的使用</p>
<p>4.1. 接受本协议全部的说明、条款、条件是您申请认证的先决条件。您声明并保证，您不得为任何非法或为本协议、条件及须知所禁止之目的进行认证申请。您不得以任何可能损害、使瘫痪、使过度负荷或损害其他网站或其他网站的服务或本平台或干扰他人对于认证商家申请的使用等方式使用认证服务。您不得经由非本平台许可提供的任何方式取得或试图取得任何资料或信息。</p>
<p>五、有关免责</p>
<p>下列情况时本平台无需承担任何责任：</p>
<p>5.1. 由于您将账户密码告知他人或未保管好自己的密码或与他人共享账户或任何其他非本平台的过错，导致您的个人资料泄露。</p>
<p>5.2. 任何由于黑客攻击、计算机病毒侵入或发作、电信部门技术调整导致之影响、因政府管制而造成的暂时性关闭、由于第三方原因(包括不可抗力，例如国际出口的主干线路及国际出口电信提供商一方出现故障、火灾、水灾、雷击、地震、洪水、台风、龙卷风、火山爆发、瘟疫和传染病流行、罢工、战争或暴力行为或类似事件等)及其他非因本平台过错而造成的认证信息泄露、丢失、被盗用或被篡改等。</p>
<p>5.3. 由于与本平台链接的其它网站（如网上银行等）所造成的银行账户信息泄露及由此而导致的任何法律争议和后果。</p>
<p>5.4. 任何因用户向本平台提供错误、不完整、不实信息等造成不能通过认证或遭受任何其他损失，概与本平台无关。</p>
<p class="bold">六、特别声明</p>
<p>下列情况时本平台无需承担任何责任：</p>
<p>6.1.
  本平台对认证商家进行的基本资料审查和保证金要求，并不代表认证商家100%可信，也不代表本平台与认证商家之间存在任何保证关系。请本平台用户严格按照流程交易，做好对交易方的资料审核，详尽沟通，保证自身的交易和资产安全！同时，基于数字资产交易的特殊性，您需要在反洗钱方面的风险格外注意，按照KYC原则的要求对您交易对方的身份进行了解，否则您将可能因交易对方涉嫌犯罪而面临资产冻结等风险。本平台对认证商家进行的基本资料审查和保证金要求，并不代表认证商100%
  可信，也不代表本平台与认证商家之间存在任何保证关系。请本平台用户严格按照流程交易，做好对交易方的资料审核，详尽沟通，保证自身的交易和资产安全！</p>
</body>
</html>
