<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Transaction Regulations</title>
</head>
<style>
  body{
    margin: 0;
    padding: 15px;
  }
</style>
<body>
<p class="p0"><strong>Notice to Buyers:</strong></p>
<p class="p0">1. If the buyer cancels the order or the order is cancelled due to timeout, the buyer will get one cancellation record.</p>
<p class="p0">2. Should there be 3 cancelled orders, the buyer will be barred from buying digital assets that very day.</p>
<p class="p0">3. Should there be 3 cancelled orders, the maker (buyer) will be barred from buying digital assets that very day.</p>
<p class="p0">4. If the seller didn’t provide valid payment method, but the system judges the order was cancelled by the buyer. The buyer can contact the platform once being barred from buying digital assets.</p>
<p class="p0">5. DO NOT CLICK “Already paid” if payment is uncompleted, since this is considered as a malicious act. Should there be any appeals towards malicious confirmation of payment, the seller can refuse the transaction. If the circumstances are grave, we will freeze the buyer’s account.</p>
<p class="p0">6. Remember to complete the order and reply the seller in 10 minutes. Or, once there is an appeal, the seller can cancel the transaction.</p>
<p class="p0">7. Please complete payment by using your own account (eg, bank account, Alipay account, Wechat account). If you use others’ account for payment, the seller is entitled to cancel the transaction after the refund.  </p>
<p class="p0">8. In order to complete the transaction timely, real-time payment (eg, Wechat, Alipay or real remittance of the bank) is suggested since there’ll be a quick arrival. Any transaction that more than RMB 50,000 yuan shall be transferred separately.</p>
<p class="p0">9. Two hours after the buyer clicked “Already Paid”, if the seller still not received the payment, the seller can cancel the transaction.</p>
<p class="p0">10. Please check the acceptable payment methods and transfer money to the exact beneficiary account of the seller. The buyer needs to hold all the possible risks if transferring money to an account that is not stated in the seller’s trade terms.</p>
<p class="p0">11. Digital assets corresponding to pending orders will be locked, waiting for buyer's payment and then seller's release. If no digital assets are received 5 minutes after the buyer pays the order and clicks  “Already paid”, the buyer can click “Appeal” and our CS support will intervene to judge this appeal case. The buyer will gets the owner right of the assets after confirming all the above information.</p>
<p class="p0">12. If the buyer pays the order with others’ beneficiary account, the seller is entitled to:</p>
<ul style="margin-left: 20.0px;">
    <li>Ask the buyer and the owner of the beneficiary account to hold their ID cards or passports for video KYC so as to prove legitimacy of the funds;</li>
    <li>Cancel the order after the refund.</li>
    <li>Sequestrate the digital assets for 72 hours. After 72 hours, the seller can decide to complete the transaction or refund.<br/><br/></li>
</ul>
<p class="p0"><br/></p>
<p class="p0"><strong>Note: </strong></p>
<p class="p0">The buyer shall remark the payment reference number under the remittance.</p>
<p class="p0">This payment reference number used to remark this remittance related to this order. If the buyer’s payment arrived in time, it regarded as followed the transaction rules.</p>
<p class="p0">Don’t fill in key words like BTC, or the seller can cancel the order after refunding.</p>
<p class="p0"><br/></p>
<p class="p0"><strong>Notice to Sellers:</strong></p>
<p class="p0">1. Please double check the selling price after setting it. Should there be any appeals arising from price issues, we will judge if the buyer has the owner right of the assets and then transfer them to the buyer.</p>
<p class="p0">2. If no payment is received 5 minutes after the buyer clicks “Already paid”, the seller can click “Appeal” for further processing. If the buyer clicks the “Already paid” button before completing payment, the seller is entitled to cancel the transaction after the refund.  </p>
<p class="p0">3. Please carefully check the information after receiving the payment if it is consistent with real-name information of the buyer and release the digital assets as soon as you receive the payment. Once they are not same, please be alert to the risk. The seller can cancel the transaction after the refund. If the user accept the payment under this situation, once the payment account is frozen, the platform will investigate the fund source and has the right to freeze the platform account and cancel the merchant authentication.</p>
<p class="p0">4. Please release the digital assets once received the payment in 20 minutes after the buyer clicks “I’ve paid”. Or, the buyer has the right to demand the refund and cancel the transaction. If the seller refused the demand, the platform will release the assets directly and freeze seller’s account.</p>
<p class="p0">5. In order to complete the transaction timely, make sure that you can handle orders timely before posting ads. Or you can hide your ad to avoid unnecessary disputes if you cannot ensure enough online time.</p>
<p class="p0">6. If the buyer uses others’ beneficiary account for payment, the seller is entitled to:</p>
<ul style="margin-left: 20.0px;">
    <li>Ask the buyer and the owner of the beneficiary account to hold their ID cards or passports for video KYC so as to prove legitimacy of the funds;</li>
    <li>Cancel the order after the refund.</li>
    <li>Sequestrate the digital assets for 72 hours. After 72 hours, the seller can decide to complete the transaction or refund.<br/><br/></li>
</ul>
<p class="p0"><strong>Note: </strong></p>
<p class="p0">The platform has the final judge right towards transaction dispute. Any malicious behaviors like order freezing, malicious payment, and fraud happened, the platform can choose the freeze the account and offer judicial assistance. </p>
<p class="p0">&nbsp;</p>
<p class="p0"><strong>Notice to Makers:</strong></p>
<p class="p0">1. Only merchants can post ads.</p>
<p class="p0">2. Please remove the ad in advance if you cannot handle the order timely. Once it brings orders, one shall follow regular transaction process.</p>
<p class="p0">3. Should there be 3 cancelled orders while posting buying ads, the buyer will be barred from buying digital assets that very day.</p>
<p class="p0">4. Please carefully check the information after receiving the payment if it is consistent with real-name information of the buyer and release the digital assets as soon as you receive the payment. Once they are not same, please be alert to the risk. The seller can cancel the transaction after the refund. If the user accept the payment under this situation, once the payment account is frozen, the platform will investigate the fund source and has the right to freeze the platform account and cancel the merchant authentication.</p>
<p class="p0">&nbsp;</p>
<p class="p0"><strong>Notice to Takers:</strong></p>
<p class="p0">Complete real-name authentication before starting transactions.</p>
<p class="p0">&nbsp;</p>
<p class="p0">All the rules and regulations are subject to change as per actual operations. Please keep following on any update if have.</p>
</body>
</html>
