<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.happy.otc.dao.TransactionPairMapper" >
  <resultMap id="BaseResultMap" type="com.happy.otc.entity.TransactionPair" >
    <id column="transaction_pair_id" property="transactionPairId" jdbcType="INTEGER" />
    <result column="kind" property="kind" jdbcType="VARCHAR" />
    <result column="relevant_kind" property="relevantKind" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    transaction_pair_id, kind, relevant_kind, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from transaction_pair
    where transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from transaction_pair
    where transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.happy.otc.entity.TransactionPair" >
    insert into transaction_pair (transaction_pair_id, kind, relevant_kind, 
      update_time)
    values (#{transactionPairId,jdbcType=INTEGER}, #{kind,jdbcType=VARCHAR}, #{relevantKind,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.happy.otc.entity.TransactionPair" >
    insert into transaction_pair
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="transactionPairId != null" >
        transaction_pair_id,
      </if>
      <if test="kind != null" >
        kind,
      </if>
      <if test="relevantKind != null" >
        relevant_kind,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="transactionPairId != null" >
        #{transactionPairId,jdbcType=INTEGER},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=VARCHAR},
      </if>
      <if test="relevantKind != null" >
        #{relevantKind,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.happy.otc.entity.TransactionPair" >
    update transaction_pair
    <set >
      <if test="kind != null" >
        kind = #{kind,jdbcType=VARCHAR},
      </if>
      <if test="relevantKind != null" >
        relevant_kind = #{relevantKind,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.happy.otc.entity.TransactionPair" >
    update transaction_pair
    set kind = #{kind,jdbcType=VARCHAR},
      relevant_kind = #{relevantKind,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
  </update>

  <select id="selectByParam" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from transaction_pair
    where 1 = 1
    <if test="relevantKind!=null">
      AND relevant_kind = #{relevantKind,jdbcType=VARCHAR}
    </if>
    <if test="kind!=null">
      AND  kind = #{kind,jdbcType=VARCHAR},
    </if>

  </select>
</mapper>